.modal {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 25px;
    border: 1px solid #888;
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .header-input {
    width: 45%; /* Adjust width as necessary */
    padding: 8px;
    border: 1px solid #ccc;
  }
  
  .close {
    color: #000000;
    font-size: 28px;
    font-weight: bold;
    width: 40px;
    margin-left: auto;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }

  .cleanup-btn{
    text-decoration: none;
    background-color: #3dd42f;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    outline: none;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .cleanup-btn:hover{
    transform: scale(1.1);
  }

  .container {
    height: 100vh;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #fcfcfc;
  }
  
  .card {
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    width: 600px;
    height: 260px;
    background-color: #ffffff;
    padding: 10px 30px 40px;
  }
  
  .card h3 {
    font-size: 22px;
    font-weight: 600;
    
  }
  
  .drop_box {
    margin: 10px 0;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px dotted #a3a3a3;
    border-radius: 5px;
  }
  
  .drop_box h4 {
    font-size: 16px;
    font-weight: 400;
    color: #2e2e2e;
  }
  
  .drop_box p {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 12px;
    color: #a3a3a3;
  }
  
  .btn {
    text-decoration: none;
    background-color: #3dd42f;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    outline: none;
    transition: 0.3s;
  }
  
  .btn:hover{
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    outline: 1px solid #010101;
    cursor: pointer;
  }
  .form input {
    margin: 10px 0;
    width: 100%;
    background-color: #e2e2e2;
    border: none;
    outline: none;
    padding: 12px 20px;
    border-radius: 4px;
  }
  
  .progress-wrapper {
    position: relative;
    width: 600px; /* Match the width of the card */
  }
  
  .progress-bar {
    height: 20px;
    background: #76c7c0;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.5s;
  }
  
  
  