
.table-container {
    margin: 20px;
    font-family: Arial, sans-serif;
    width: 80%;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid rgb(219, 217, 217);
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2; 
}

tr:nth-child(even) {
    background-color: #f9f9f9; 
}

tr:hover {
    background-color: #f1f1f1;
}

.icons:hover{
    cursor: pointer;
}

.filter-input {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 70%;
}

.btn-uploadNew {
    text-decoration: none;
    background-color: #005af0;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    outline: none;
    transition: 0.3s;
  }
  
  .btn-uploadNew:hover{
    text-decoration: none;
    background-color: #ffffff;
    color: #005af0;
    padding: 10px 20px;
    border: none;
    outline: 1px solid #010101;
    cursor: pointer;
  }

/* Code for responsiveness goes here */

@media (max-width: 768px) {
    .table-container {
        width: 95%; 
    }

    th, td {
        padding: 8px; 
    }

    /* .filter-input {
        max-width: 40%; 
    } */

    .btn-uploadNew{
        padding: 5px 5px;
        width: 300px;
    }

    table {
        display: block; 
        overflow-x: auto;
    }

    th, td {
        white-space: nowrap;
    }
}

@media (max-width: 480px) {
    th, td {
        font-size: 14px;
    }

    .filter-input {
        padding: 8px;
    }
}