.single-card{
    width: 80%;
    height: 500px;
    margin: auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 20px;
    transition: transform 0.3s ease;
    position: relative;
    margin-top: 130px;
    touch-action: pan-y;
    touch-action: pan-x;
}

h2{
    text-align: start;
}

.icons-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.icon-div >button{
    width: 100%;
}

/* Swipe Up Animation */
.swipe-up {
    transform: translateY(-100%); /* Move the card up */
}

/* Swipe Down Animation */
.swipe-down {
    transform: translateY(100%); /* Move the card down */
}

/* Optional: Fade or Scale effects for Up and Down */
.single-card.swipe-up h2,
.single-card.swipe-down h2 {
    opacity: 0; /* Fade out the text */
}


/* Optional: Fade or Scale effects */
.single-card h2 {
    transition: opacity 0.3s ease;
}

#twilio-button {
    background-color: #222;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    max-width: none;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
}

#twilio-button:hover,
#twilio-button:focus {
    opacity: .75;
}

#call-button{
        background-color: #6057e0;
        border-radius: 4px;
        border-style: none;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5;
        margin: 0;
        max-width: none;
        min-height: 44px;
        min-width: 10px;
        outline: none;
        overflow: hidden;
        padding: 9px 20px 8px;
        position: relative;
        text-align: center;
        text-transform: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: 100%;
    }
    
    #call-button:hover,
    #call-button:focus {
        opacity: .75;
}

#whatsapp-button{
    background-color: #55d247;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    max-width: none;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
}

#whatsapp-button:hover,
#whatsapp-button:focus {
    opacity: .75;
}